@model Domain.Entities.Person

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Person</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Surname)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Surname)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BirthDay)
            </dt>
    
            <dd>
                @Model.BirthDay.ToShortDateString()
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Diagnosis)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Diagnosis)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.PersonId }) |
        @Html.ActionLink("Back to List", "List")
    </p>
</body>
</html>
